<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../component/layui/css/layui.css" rel="stylesheet"/>
    <link href="../../admin/css/pearCommon.css" rel="stylesheet"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <table id="file-table" lay-filter="file-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="file-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
</script>

<script type="text/html" id="file-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="download"><i
            class="layui-icon layui-icon-download-circle"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="text/html" id="file-createTime">
    {{layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss')}}
</script>


<script src="../..//component/layui/layui.js"></script>

<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;


        let cols = [
            [
                {title: 'Id', field: 'id', align: 'center'},
                {
                    title: '脚本名称',
                    field: 'fileName',
                    align: 'center',
                },
                {
                    title: '路径',
                    field: 'path',
                    align: 'center',
                },
                {
                    title: '创建时间',
                    field: 'updateTime',
                    align: 'center',
                    templet: '#file-createTime',
                    sort: true,
                },
                {title: '操作', toolbar: '#file-bar', align: 'center', width: 130}
            ]
        ];

        table.render({
            elem: '#file-table',  //表格id
            url: '/script/listScript',  //异步请求参数
            page: true,     //开启分页功能
            cols: cols,     //设置表头。值是一个二维数组。方法渲染方式必填
            skin: 'line',   //设定表格外观:line（行边框风格）,row（列边框风格）,nob（无边框风格）
            limit: 50,
            //开启表格头部工具栏区域
            toolbar: '#file-toolbar',
            response: {
                statusCode: 20000 //获取数据成功状态码
            },
            //自由配置头部工具栏右侧的图标按钮
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports'],
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.totalElements, //解析数据长度
                    "data": res.data.content //解析数据列表
                }
            },
            request: {
                pageName: 'page' //页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            }
        });

        table.on('tool(file-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'download') {
                window.download(obj);
            }
        });

        //监听表头按钮
        table.on('toolbar(file-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            }
        });


        //新增弹层
        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['20%', '25%'],
                content: 'addScript.html',
                success: function (layero, index) {
                    form.render('select');
                    var iframe = window['layui-layer-iframe' + index];
                    setTimeout(function () {
                        layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    }, 500)
                }
            });
        };


        //删除
        window.remove = function (obj) {
            layer.confirm('确定要删除该脚本', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/script/deleteScript/?exeFileId=" + obj.data['id'],
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.message, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.message, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        };

        //删除
        window.download = function (obj) {
            window.open("/script/downloadScript?exeFileId=" + obj.data['id']);
        };


        //右上刷新表格按钮
        window.refresh = function (param) {
            table.reload('file-table');
        };
    });
</script>

</body>
</html>
