<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加微信</title>
    <link href="../../component/layui/css/layui.css" rel="stylesheet"/>
    <link href="../../admin/css/pearCommon.css" rel="stylesheet"/>

</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">批量添加</label>
                        <div class="layui-input-block">
                            <input type="radio" name="isBatch" lay-filter="type" value="0" title="否" checked>
                            <input type="radio" name="isBatch" lay-filter="type" value="1" title="是">
                        </div>
                    </div>
                    <div class="layui-form-item" id="accountItem">
                        <label class="layui-form-label">微信号</label>
                        <div class="layui-input-block">
                            <input type="text" id="account" name="account" autocomplete="off"
                                   placeholder="请输入微信号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="passwordItem">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input type="text" id="password" name="password" autocomplete="off"
                                   placeholder="请输入密码" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="keyItem">
                        <label class="layui-form-label">key</label>
                        <div class="layui-input-block">
                            <input type="text" id="key" name="key" autocomplete="off"
                                   placeholder="请输入key" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="batchAddItem" style="display: none">
                        <label class="layui-form-label">批量账号</label>
                        <div class="layui-input-block">
                            <textarea id="wxAccount" name="wxAccount" placeholder="格式：账号----密码/账号----密码----key"
                                      class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="wx-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/xmselect/xm-select.js"></script>
<script>
    layui.use(['form', 'jquery'], function () {
        let $ = layui.jquery;
        let form = layui.form;


        form.on("radio(type)", function (data) {
            if (this.value === '1') {
                $("#accountItem").hide();
                $("#passwordItem").hide();
                $("#keyItem").hide();
                $("#batchAddItem").show();
                $("#account").val("");
                $("#password").val("");
                $("#key").val("");
            } else if (this.value === '0') {
                $("#accountItem").show();
                $("#passwordItem").show();
                $("#keyItem").show();
                $("#batchAddItem").hide();
                $("#wxAccount").val("");
            }
        });

        //提交操作
        form.on('submit(wx-save)', function (data) {
            var url = "";
            if (data.field["isBatch"] === "0") {
                url = "/wx/addAccount"
            } else if (data.field["isBatch"] === "1") {
                url = "/wx/batchAddAccount"
            }
            $.ajax({
                url: url,
                data: data.field,
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.message, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("wx-table");
                        });
                    } else {
                        layer.msg(result.message, {icon: 2, time: 1000});
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>