<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加脚本</title>
    <link href="../../component/layui/css/layui.css" rel="stylesheet"/>
    <link href="../../admin/css/pearCommon.css" rel="stylesheet"/>

</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="hidden" name="id"
                               id="id">
                    </div>

                    <div class="layui-form-item" id="loginSignItem">
                        <label class="layui-form-label">登录特征</label>
                        <div class="layui-input-block">
                            <input type="text" id="loginSign" name="loginSign" autocomplete="off" placeholder="登录按钮特征"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" id="loginedSignItem">
                        <label class="layui-form-label">成功特征</label>
                        <div class="layui-input-block">
                            <input type="text" id="loginedSign" name="loginedSign" autocomplete="off"
                                   placeholder="登录成功特征" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="script-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/xmselect/xm-select.js"></script>
<script>
    function child(data) {
        layui.use(['form', 'jquery'], function () {
            let $ = layui.jquery;
            let form = layui.form;


            $("input[name='id']").val(data.id);
            $("input[name='loginSign']").val(data.loginSign);
            $("input[name='loginedSign']").val(data.loginedSign);

            //提交操作
            form.on('submit(script-save)', function (data) {
                $.ajax({
                    url: '/game/updateGame',
                    data: data.field,
                    type: 'post',
                    success: function (result) {
                        if (result.success) {
                            layer.msg(result.message, {icon: 1, time: 1000}, function () {
                                parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                                parent.layui.table.reload("game-table");
                            });
                        } else {
                            layer.msg(result.message, {icon: 2, time: 1000});
                        }
                    }
                });
                return false;
            });

        });
    }
</script>
</body>
</html>